In [2]:
import matplotlib.pyplot as plt
import matplotlib
plt.style.use('fivethirtyeight')
%matplotlib inline
import pandas as pd
import requests

In [14]:
import clcomuna

In [80]:
url = 'http://www.servelelecciones.cl/data/participacion/computo/regiones/3005.json'

In [81]:
r = requests.get(url, )

In [82]:
e = r.json()

In [83]:
e

{'data': [{'a': 'ALGARROBO',
   'b': '34',
   'c': '11.560',
   'd': '5.854',
   'e': '50,64'},
  {'a': 'CABILDO', 'b': '52', 'c': '17.704', 'd': '8.745', 'e': '49,40'},
  {'a': 'CALERA', 'b': '129', 'c': '43.763', 'd': '17.562', 'e': '40,13'},
  {'a': 'CALLE LARGA', 'b': '31', 'c': '10.477', 'd': '5.144', 'e': '49,10'},
  {'a': 'CARTAGENA', 'b': '54', 'c': '16.962', 'd': '7.716', 'e': '45,49'},
  {'a': 'CASABLANCA', 'b': '62', 'c': '21.105', 'd': '9.464', 'e': '44,84'},
  {'a': 'CATEMU', 'b': '34', 'c': '11.566', 'd': '5.730', 'e': '49,54'},
  {'a': 'CONCON', 'b': '101', 'c': '34.300', 'd': '15.455', 'e': '45,06'},
  {'a': 'EL QUISCO', 'b': '36', 'c': '11.176', 'd': '5.692', 'e': '50,93'},
  {'a': 'EL TABO', 'b': '29', 'c': '9.083', 'd': '5.024', 'e': '55,31'},
  {'a': 'HIJUELAS', 'b': '43', 'c': '14.637', 'd': '7.204', 'e': '49,22'},
  {'a': 'ISLA DE PASCUA', 'b': '15', 'c': '5.148', 'd': '2.419', 'e': '46,99'},
  {'a': 'JUAN FERNANDEZ', 'b': '2', 'c': '870', 'd': '532', 'e': '61,15'},
  {'a': 'LA CRUZ', 'b': '41', 'c': '13.958', 'd': '7.491', 'e': '53,67'},
  {'a': 'LA LIGUA', 'b': '85', 'c': '28.904', 'd': '14.625', 'e': '50,60'},
  {'a': 'LIMACHE', 'b': '107', 'c': '36.327', 'd': '13.561', 'e': '37,33'},
  {'a': 'LLAY-LLAY', 'b': '59', 'c': '19.766', 'd': '8.517', 'e': '43,09'},
  {'a': 'LOS ANDES', 'b': '160', 'c': '54.356', 'd': '19.880', 'e': '36,57'},
  {'a': 'NOGALES', 'b': '63', 'c': '19.101', 'd': '9.072', 'e': '47,49'},
  {'a': 'OLMUE', 'b': '44', 'c': '14.850', 'd': '7.953', 'e': '53,56'},
  {'a': 'PANQUEHUE', 'b': '18', 'c': '6.137', 'd': '3.611', 'e': '58,84'},
  {'a': 'PAPUDO', 'b': '16', 'c': '5.184', 'd': '3.595', 'e': '69,35'},
  {'a': 'PETORCA', 'b': '26', 'c': '9.069', 'd': '4.806', 'e': '52,99'},
  {'a': 'PUCHUNCAVI', 'b': '40', 'c': '13.809', 'd': '7.753', 'e': '56,14'},
  {'a': 'PUTAENDO', 'b': '39', 'c': '13.077', 'd': '5.894', 'e': '45,07'},
  {'a': 'QUILLOTA', 'b': '214', 'c': '72.390', 'd': '24.566', 'e': '33,94'},
  {'a': 'QUILPUE', 'b': '375', 'c': '126.962', 'd': '38.716', 'e': '30,49'},
  {'a': 'QUINTERO', 'b': '65', 'c': '22.182', 'd': '11.459', 'e': '51,66'},
  {'a': 'RINCONADA', 'b': '25', 'c': '8.499', 'd': '5.709', 'e': '67,17'},
  {'a': 'SAN ANTONIO', 'b': '226', 'c': '76.843', 'd': '23.704', 'e': '30,85'},
  {'a': 'SAN ESTEBAN', 'b': '41', 'c': '13.995', 'd': '7.495', 'e': '53,55'},
  {'a': 'SAN FELIPE', 'b': '174', 'c': '58.464', 'd': '22.405', 'e': '38,32'},
  {'a': 'SANTA MARIA', 'b': '34', 'c': '11.362', 'd': '5.468', 'e': '48,13'},
  {'a': 'SANTO DOMINGO', 'b': '34', 'c': '10.370', 'd': '5.569', 'e': '53,70'},
  {'a': 'VALPARAISO', 'b': '854', 'c': '284.198', 'd': '88.213', 'e': '31,04'},
  {'a': 'VILLA ALEMANA',
   'b': '267',
   'c': '91.418',
   'd': '29.201',
   'e': '31,94'},
  {'a': 'VIÃ\x91A DEL MAR',
   'b': '899',
   'c': '294.906',
   'd': '78.239',
   'e': '26,53'},
  {'a': 'ZAPALLAR', 'b': '21', 'c': '7.244', 'd': '4.240', 'e': '58,53'}],
 'dataType': {'a': 'String',
  'b': 'Integer',
  'c': 'Integer',
  'd': 'Integer',
  'e': 'Integer'},
 'isVisible': {'a': 'true',
  'b': 'true',
  'c': 'true',
  'd': 'true',
  'e': 'true'},
 'marca': None,
 'resumen': [{'a': 'TOTAL',
   'b': '4.549',
   'c': '1.521.722',
   'd': '548.283',
   'e': '36,03'}],
 'title': {'a': 'Comuna',
  'b': 'Total Mesas',
  'c': 'Total Electores',
  'd': 'Total VotaciÃ³n',
  'e': '% ParticipaciÃ³n'}}

In [79]:
(a['data'])

[{'a': 'CHEPICA', 'b': '39', 'c': '13.299', 'd': '6.864', 'e': '51,61'},
 {'a': 'CHIMBARONGO', 'b': '84', 'c': '28.809', 'd': '13.793', 'e': '47,88'},
 {'a': 'CODEGUA', 'b': '31', 'c': '10.712', 'd': '6.211', 'e': '57,98'},
 {'a': 'COINCO', 'b': '20', 'c': '6.704', 'd': '3.684', 'e': '54,95'},
 {'a': 'COLTAUCO', 'b': '44', 'c': '14.950', 'd': '7.389', 'e': '49,42'},
 {'a': 'DOÃ\x91IHUE', 'b': '49', 'c': '17.206', 'd': '8.511', 'e': '49,47'},
 {'a': 'GRANEROS', 'b': '75', 'c': '25.563', 'd': '12.691', 'e': '49,65'},
 {'a': 'LA ESTRELLA', 'b': '9', 'c': '3.563', 'd': '2.529', 'e': '70,98'},
 {'a': 'LAS CABRAS', 'b': '55', 'c': '18.970', 'd': '10.047', 'e': '52,96'},
 {'a': 'LITUECHE', 'b': '17', 'c': '5.899', 'd': '4.098', 'e': '69,47'},
 {'a': 'LOLOL', 'b': '21', 'c': '6.482', 'd': '4.211', 'e': '64,96'},
 {'a': 'MACHALI', 'b': '92', 'c': '31.590', 'd': '13.460', 'e': '42,61'},
 {'a': 'MALLOA', 'b': '37', 'c': '11.722', 'd': '6.923', 'e': '59,06'},
 {'a': 'MARCHIGUE', 'b': '21', 'c': '6.523', 'd': '3.932', 'e': '60,28'},
 {'a': 'MOSTAZAL', 'b': '57', 'c': '19.381', 'd': '10.303', 'e': '53,16'},
 {'a': 'NANCAGUA', 'b': '43', 'c': '14.494', 'd': '7.499', 'e': '51,74'},
 {'a': 'NAVIDAD', 'b': '17', 'c': '5.669', 'd': '3.472', 'e': '61,25'},
 {'a': 'OLIVAR', 'b': '37', 'c': '11.723', 'd': '6.167', 'e': '52,61'},
 {'a': 'PALMILLA', 'b': '30', 'c': '9.986', 'd': '6.015', 'e': '60,23'},
 {'a': 'PAREDONES', 'b': '21', 'c': '6.581', 'd': '4.704', 'e': '71,48'},
 {'a': 'PERALILLO', 'b': '30', 'c': '9.642', 'd': '5.678', 'e': '58,89'},
 {'a': 'PEUMO', 'b': '36', 'c': '12.311', 'd': '7.252', 'e': '58,91'},
 {'a': 'PICHIDEGUA', 'b': '47', 'c': '15.838', 'd': '8.076', 'e': '50,99'},
 {'a': 'PICHILEMU', 'b': '39', 'c': '12.989', 'd': '8.264', 'e': '63,62'},
 {'a': 'PLACILLA', 'b': '25', 'c': '7.964', 'd': '5.776', 'e': '72,53'},
 {'a': 'PUMANQUE', 'b': '13', 'c': '3.903', 'd': '2.765', 'e': '70,84'},
 {'a': 'QUINTA DE TILCOCO',
  'b': '35',
  'c': '11.748',
  'd': '6.876',
  'e': '58,53'},
 {'a': 'RANCAGUA', 'b': '555', 'c': '187.989', 'd': '52.820', 'e': '28,10'},
 {'a': 'RENGO', 'b': '135', 'c': '46.304', 'd': '19.147', 'e': '41,35'},
 {'a': 'REQUINOA', 'b': '63', 'c': '21.352', 'd': '9.134', 'e': '42,78'},
 {'a': 'SAN FERNANDO', 'b': '176', 'c': '60.112', 'd': '24.513', 'e': '40,78'},
 {'a': 'SAN VICENTE', 'b': '111', 'c': '38.216', 'd': '17.464', 'e': '45,70'},
 {'a': 'SANTA CRUZ', 'b': '88', 'c': '29.771', 'd': '13.112', 'e': '44,04'}]

In [20]:
b = pd.DataFrame(a['data'], index=[3,6,77,88])

In [141]:
def get_participacion():
    base_url = 'http://www.servelelecciones.cl/data/participacion/computo/regiones/30'
    urls = []
    for x in range(1, 16):
        if x<10:
            region = '0'+str(x)
        else:
            region = str(x)
        urls.append(base_url+region+'.json')
    
    df = pd.DataFrame()
    for url in urls:
        r = requests.get(url).json()
#         reg_df = pd.DataFrame(r['data'], index=ret_list_cod(r))
        reg_df = pd.DataFrame(r['data'])
        df = pd.concat([df, reg_df])
    return df
        
def ret_list_cod(r):
    comunas = [x['a'] for x in r['data']]
    return [clcomuna.get_steps(x, True) for x in comunas]

In [60]:
df = get_participacion()

Could not find code for:  CAMIAA
('CAMINA', 83)
Could not find code for:  CHAAARAL
('CHANARAL', 88)
Could not find code for:  VICUAA
('VICUNA', 83)
Could not find code for:  LLAY-LLAY
('MALLOA', 64)
Could not find code for:  VIAA DEL MAR
('VINA DEL MAR', 92)
Could not find code for:  DOAIHUE
('DONIHUE', 86)
Could not find code for:  MARCHIGUE
('MARCHIHUE', 89)
Could not find code for:  HUALAAE
('HUALANE', 86)
Could not find code for:  CAAETE
('CANETE', 83)
Could not find code for:  AIQUEN
('NIQUEN', 83)
Could not find code for:  RIO IBAAEZ
('RIO IBANEZ', 90)
Could not find code for:  CABO DE HORNOS Y ANTARTICA
('ANTARTICA', 90)
Could not find code for:  AUAOA
('LAUTARO', 67)
Could not find code for:  PEAAFLOR
('PENAFLOR', 88)
Could not find code for:  PEAALOLEN
('PENALOLEN', 89)

In [142]:
df2 = get_participacion()

In [87]:
clcomuna.get_steps('llaillai', True)

Could not find code for:  LLAILLAI
('LLAILLAY', 88)

'05703'

In [90]:
df.loc['05703',:] = ['LLAY-LLAY', '59', '19.766', '8.517', '43,09']

ValueError: cannot reindex from a duplicate axis

In [105]:
clcomuna.get_steps('llaillai', True)

Could not find code for:  LLAILLAI
('LLAILLAY', 88)

'05703'

In [93]:
df[df.index.duplicated()]

             a    b        c       d      e
06109   MALLOA   37   11.722   6.923  59,06
09108  ÃUÃOA  586  182.372  65.220  35,76

In [99]:
df.loc['06109', :]

               a   b       c      d      e
06109  LLAY-LLAY  59  19.766  8.517  43,09
06109     MALLOA  37  11.722  6.923  59,06

In [133]:
f = df.loc[df.a=='LLAY-LLAY',:].values[0]

In [137]:
df.loc['05703', :]

KeyError: 'the label [05703] is not in the [index]'

In [136]:
df.loc['05703', :] = ['LLAY-LLAY', '59', '19.766', '8.517', '43,09']

ValueError: cannot reindex from a duplicate axis

In [140]:
df.loc['05703', :] = [0,0,0,0,0]

ValueError: cannot reindex from a duplicate axis

In [40]:
c = [x['a'] for x in a['data']]

In [41]:
d = [clcomuna.get_steps(x, True) for x in c]

Could not find code for:  LLAY-LLAY
('MALLOA', 64)
Could not find code for:  VIAA DEL MAR
('VINA DEL MAR', 92)

In [42]:
df2 = pd.DataFrame(a['data'], index=d)

In [33]:
df.append(a['data'],)

               a    b        c       d      e
0          ARICA  568  168.409  48.914  29,04
1      CAMARONES   11    4.551   2.475  54,38
2  GENERAL LAGOS    7    2.600   1.230  47,31
3          PUTRE   17    6.369   2.575  40,43

In [35]:
df

                   a    b        c       d      e
15101          ARICA  568  168.409  48.914  29,04
15102      CAMARONES   11    4.551   2.475  54,38
15202  GENERAL LAGOS    7    2.600   1.230  47,31
15201          PUTRE   17    6.369   2.575  40,43

In [43]:
df2

                    a    b        c       d      e
05602       ALGARROBO   34   11.560   5.854  50,64
05402         CABILDO   52   17.704   8.745  49,40
05502          CALERA  129   43.763  17.562  40,13
05302     CALLE LARGA   31   10.477   5.144  49,10
05603       CARTAGENA   54   16.962   7.716  45,49
05102      CASABLANCA   62   21.105   9.464  44,84
05702          CATEMU   34   11.566   5.730  49,54
05103          CONCON  101   34.300  15.455  45,06
05604       EL QUISCO   36   11.176   5.692  50,93
05605         EL TABO   29    9.083   5.024  55,31
05503        HIJUELAS   43   14.637   7.204  49,22
05201  ISLA DE PASCUA   15    5.148   2.419  46,99
05104  JUAN FERNANDEZ    2      870     532  61,15
05504         LA CRUZ   41   13.958   7.491  53,67
05401        LA LIGUA   85   28.904  14.625  50,60
05802         LIMACHE  107   36.327  13.561  37,33
06109       LLAY-LLAY   59   19.766   8.517  43,09
05301       LOS ANDES  160   54.356  19.880  36,57
05506         NOGALES   63   19.101   9.072  47,49
05803           OLMUE   44   14.850   7.953  53,56
05704       PANQUEHUE   18    6.137   3.611  58,84
05403          PAPUDO   16    5.184   3.595  69,35
05404         PETORCA   26    9.069   4.806  52,99
05105      PUCHUNCAVI   40   13.809   7.753  56,14
05705        PUTAENDO   39   13.077   5.894  45,07
05501        QUILLOTA  214   72.390  24.566  33,94
05801         QUILPUE  375  126.962  38.716  30,49
05107        QUINTERO   65   22.182  11.459  51,66
05303       RINCONADA   25    8.499   5.709  67,17
05601     SAN ANTONIO  226   76.843  23.704  30,85
05304     SAN ESTEBAN   41   13.995   7.495  53,55
05701      SAN FELIPE  174   58.464  22.405  38,32
05706     SANTA MARIA   34   11.362   5.468  48,13
05606   SANTO DOMINGO   34   10.370   5.569  53,70
05101      VALPARAISO  854  284.198  88.213  31,04
05804   VILLA ALEMANA  267   91.418  29.201  31,94
05109   VIÃA DEL MAR  899  294.906  78.239  26,53
05405        ZAPALLAR   21    7.244   4.240  58,53

In [45]:
df.append(df2, )

                    a    b        c       d      e
15101           ARICA  568  168.409  48.914  29,04
15102       CAMARONES   11    4.551   2.475  54,38
15202   GENERAL LAGOS    7    2.600   1.230  47,31
15201           PUTRE   17    6.369   2.575  40,43
05602       ALGARROBO   34   11.560   5.854  50,64
05402         CABILDO   52   17.704   8.745  49,40
05502          CALERA  129   43.763  17.562  40,13
05302     CALLE LARGA   31   10.477   5.144  49,10
05603       CARTAGENA   54   16.962   7.716  45,49
05102      CASABLANCA   62   21.105   9.464  44,84
05702          CATEMU   34   11.566   5.730  49,54
05103          CONCON  101   34.300  15.455  45,06
05604       EL QUISCO   36   11.176   5.692  50,93
05605         EL TABO   29    9.083   5.024  55,31
05503        HIJUELAS   43   14.637   7.204  49,22
05201  ISLA DE PASCUA   15    5.148   2.419  46,99
05104  JUAN FERNANDEZ    2      870     532  61,15
05504         LA CRUZ   41   13.958   7.491  53,67
05401        LA LIGUA   85   28.904  14.625  50,60
05802         LIMACHE  107   36.327  13.561  37,33
06109       LLAY-LLAY   59   19.766   8.517  43,09
05301       LOS ANDES  160   54.356  19.880  36,57
05506         NOGALES   63   19.101   9.072  47,49
05803           OLMUE   44   14.850   7.953  53,56
05704       PANQUEHUE   18    6.137   3.611  58,84
05403          PAPUDO   16    5.184   3.595  69,35
05404         PETORCA   26    9.069   4.806  52,99
05105      PUCHUNCAVI   40   13.809   7.753  56,14
05705        PUTAENDO   39   13.077   5.894  45,07
05501        QUILLOTA  214   72.390  24.566  33,94
05801         QUILPUE  375  126.962  38.716  30,49
05107        QUINTERO   65   22.182  11.459  51,66
05303       RINCONADA   25    8.499   5.709  67,17
05601     SAN ANTONIO  226   76.843  23.704  30,85
05304     SAN ESTEBAN   41   13.995   7.495  53,55
05701      SAN FELIPE  174   58.464  22.405  38,32
05706     SANTA MARIA   34   11.362   5.468  48,13
05606   SANTO DOMINGO   34   10.370   5.569  53,70
05101      VALPARAISO  854  284.198  88.213  31,04
05804   VILLA ALEMANA  267   91.418  29.201  31,94
05109   VIÃA DEL MAR  899  294.906  78.239  26,53
05405        ZAPALLAR   21    7.244   4.240  58,53

In [57]:
df = pd.concat([df, df2])

In [58]:
df

                    a    b        c       d      e
15101           ARICA  568  168.409  48.914  29,04
15102       CAMARONES   11    4.551   2.475  54,38
15202   GENERAL LAGOS    7    2.600   1.230  47,31
15201           PUTRE   17    6.369   2.575  40,43
05602       ALGARROBO   34   11.560   5.854  50,64
05402         CABILDO   52   17.704   8.745  49,40
05502          CALERA  129   43.763  17.562  40,13
05302     CALLE LARGA   31   10.477   5.144  49,10
05603       CARTAGENA   54   16.962   7.716  45,49
05102      CASABLANCA   62   21.105   9.464  44,84
05702          CATEMU   34   11.566   5.730  49,54
05103          CONCON  101   34.300  15.455  45,06
05604       EL QUISCO   36   11.176   5.692  50,93
05605         EL TABO   29    9.083   5.024  55,31
05503        HIJUELAS   43   14.637   7.204  49,22
05201  ISLA DE PASCUA   15    5.148   2.419  46,99
05104  JUAN FERNANDEZ    2      870     532  61,15
05504         LA CRUZ   41   13.958   7.491  53,67
05401        LA LIGUA   85   28.904  14.625  50,60
05802         LIMACHE  107   36.327  13.561  37,33
06109       LLAY-LLAY   59   19.766   8.517  43,09
05301       LOS ANDES  160   54.356  19.880  36,57
05506         NOGALES   63   19.101   9.072  47,49
05803           OLMUE   44   14.850   7.953  53,56
05704       PANQUEHUE   18    6.137   3.611  58,84
05403          PAPUDO   16    5.184   3.595  69,35
05404         PETORCA   26    9.069   4.806  52,99
05105      PUCHUNCAVI   40   13.809   7.753  56,14
05705        PUTAENDO   39   13.077   5.894  45,07
05501        QUILLOTA  214   72.390  24.566  33,94
05801         QUILPUE  375  126.962  38.716  30,49
05107        QUINTERO   65   22.182  11.459  51,66
05303       RINCONADA   25    8.499   5.709  67,17
05601     SAN ANTONIO  226   76.843  23.704  30,85
05304     SAN ESTEBAN   41   13.995   7.495  53,55
05701      SAN FELIPE  174   58.464  22.405  38,32
05706     SANTA MARIA   34   11.362   5.468  48,13
05606   SANTO DOMINGO   34   10.370   5.569  53,70
05101      VALPARAISO  854  284.198  88.213  31,04
05804   VILLA ALEMANA  267   91.418  29.201  31,94
05109   VIÃA DEL MAR  899  294.906  78.239  26,53
05405        ZAPALLAR   21    7.244   4.240  58,53

In [143]:
df2

                       a    b        c       d      e
0          ALTO HOSPICIO  145   48.675  14.091  28,95
1                CAMIÃA    7    2.978   1.662  55,81
2               COLCHANE   14    3.765   2.140  56,84
3                  HUARA   30    9.294   2.349  25,27
4                IQUIQUE  470  157.867  46.404  29,39
5                   PICA   14    5.100   3.143  61,63
6           POZO ALMONTE   35   11.189   5.208  46,55
0            ANTOFAGASTA  768  260.299  66.132  25,41
1                 CALAMA  361  122.815  34.689  28,24
2            MARIA ELENA   17    6.656   2.264  34,01
3             MEJILLONES   29    9.003   4.721  52,44
4                OLLAGUE    7    2.202   1.078  48,96
5   SAN PEDRO DE ATACAMA   17    5.680   3.014  53,06
6           SIERRA GORDA   13    4.069   1.507  37,04
7                 TALTAL   31    9.997   4.839  48,40
8              TOCOPILLA   68   21.742   8.562  39,38
0        ALTO DEL CARMEN   15    4.858   2.633  54,20
1                CALDERA   41   13.668   6.593  48,24
2              CHAÃARAL   37   11.727   5.571  47,51
3                COPIAPO  344  116.156  40.140  34,56
4       DIEGO DE ALMAGRO   41   14.100   4.750  33,69
5               FREIRINA   17    5.591   3.186  56,98
6                 HUASCO   24    7.865   4.247  54,00
7        TIERRA AMARILLA   37   12.718   7.180  56,46
8               VALLENAR  131   44.204  17.007  38,47
0              ANDACOLLO   33   11.013   5.846  53,08
1                 CANELA   26    8.591   5.393  62,77
2             COMBARBALA   38   12.348   6.437  52,13
3               COQUIMBO  448  152.428  40.803  26,77
4                ILLAPEL   78   26.737  12.376  46,29
..                   ...  ...      ...     ...    ...
38             QUILICURA  364  125.232  37.061  29,59
39         QUINTA NORMAL  304  101.589  25.078  24,69
40              RECOLETA  435  140.760  41.064  29,17
41                 RENCA  338  114.853  31.414  27,35
42          SAN BERNARDO  648  218.593  52.624  24,07
43           SAN JOAQUIN  263   84.181  19.904  23,64
44     SAN JOSE DE MAIPO   43   14.613   6.251  42,78
45            SAN MIGUEL  294   97.322  26.681  27,42
46             SAN PEDRO   23    7.682   4.541  59,11
47             SAN RAMON  249   82.969  23.602  28,45
48              SANTIAGO  899  302.535  67.574  22,34
49             TALAGANTE  159   54.260  20.840  38,41
50                TILTIL   40   13.602   6.186  45,48
51              VITACURA  260   84.393  38.006  45,03
0                 CORRAL   18    5.441   3.215  59,09
1                FUTRONO   43   13.700   6.541  47,74
2               LA UNION  108   34.977  14.216  40,64
3             LAGO RANCO   30    8.865   4.669  52,67
4                  LANCO   49   15.542   7.239  46,58
5              LOS LAGOS   60   18.099   7.960  43,98
6                  MAFIL   21    6.776   3.487  51,46
7              MARIQUINA   60   17.661   8.804  49,85
8               PAILLACO   63   18.478   8.792  47,58
9            PANGUIPULLI  101   32.816  12.548  38,24
10             RIO BUENO   99   29.770  12.688  42,62
11              VALDIVIA  395  130.664  40.909  31,31
0                  ARICA  568  168.409  48.914  29,04
1              CAMARONES   11    4.551   2.475  54,38
2          GENERAL LAGOS    7    2.600   1.230  47,31
3                  PUTRE   17    6.369   2.575  40,43

[345 rows x 5 columns]

In [146]:
df2.loc[df2.a=='LLAY-LLAY',:'a'] = 'LLAILLAY'

In [154]:
df2.loc[df2.a=='ÃUÃOA',:'a'] = 'NUNOA'

In [ ]:
def post_process(df):
    df.loc[df2.a=='LLAY-LLAY',:'a'] = 'LLAILLAY'
    df.loc[df2.a=='ÃUÃOA',:'a'] = 'NUNOA'
    df.loc[:,"cod"] = df2.a.map(clcomuna.get_steps)

In [156]:
df2.a.map(clcomuna.get_steps)

Could not find code for:  CAMIAA
Could not find code for:  CHAAARAL
Could not find code for:  VICUAA
Could not find code for:  VIAA DEL MAR
Could not find code for:  DOAIHUE
Could not find code for:  MARCHIGUE
Could not find code for:  HUALAAE
Could not find code for:  CAAETE
Could not find code for:  AIQUEN
Could not find code for:  RIO IBAAEZ
Could not find code for:  CABO DE HORNOS Y ANTARTICA
Could not find code for:  PEAAFLOR
Could not find code for:  PEAALOLEN

0     01107
1     01402
2     01403
3     01404
4     01101
5     01405
6     01401
0     02101
1     02201
2     02302
3     02102
4     02202
5     02203
6     02103
7     02104
8     02301
0     03302
1     03102
2     03201
3     03101
4     03202
5     03303
6     03304
7     03103
8     03301
0     04103
1     04202
2     04302
3     04102
4     04201
      ...
38    13125
39    13126
40    13127
41    13128
42    13401
43    13129
44    13203
45    13130
46    13505
47    13131
48    13101
49    13601
50    13303
51    13132
0     14102
1     14202
2     14201
3     14203
4     14103
5     14104
6     14105
7     14106
8     14107
9     14108
10    14204
11    14101
0     15101
1     15102
2     15202
3     15201
Name: a, dtype: object