In [1]:
import pandas as pd

In [72]:
df = pd.read_excel("/home/santiago/MEGA/PacificLabs/Administrativo/COSTOS/COSTOS2023.xlsx", 
                   # engine="odf", 
                   sheet_name='datos', 
                   usecols="A:G")

In [17]:
def change(d):
    if len(d) == 5:
        return d + '-2023'
    else:
        return d
df.Fecha = df.Fecha.apply(change)

In [18]:
df.Fecha = pd.to_datetime(df.Fecha, dayfirst=True)

In [14]:
df.Fecha.to_clipboard()

In [22]:
df.Detalle.apply(lambda x: x[:60]).value_counts().head(30)

Transferencia de PACIFIC LABS SPA Rut 77007874-1 desde Banco    17
Cargo por transferencia a Fintual AGF S.A. Rut 76.810.627-4     16
Cargo por transferencia a Diopoldina Ortiz Rut 10.969.034-1     13
Cargo por transferencia a Santiago Larrain Rut 16.097.946-1     13
Cargo por transferencia a Camila Fuenzalida M. Rut 16.369.58     8
Abono por Pago Proveedores vía CCA, originador Rut: 96.856.7     7
Cargo por transferencia a Gabriel Rodríguez Pizarro Rut 24.8     7
Cargo por transferencia a Santiago Larra in Rut 16.097.946-1     7
Abono por transferencia de Jose Miguel Diez Ihnen Rut 16.098     5
Cargo por transferencia a VEROONICA SAN MARIN Rut 15.461.735     5
Abono por transferencia de Ignacio Martin Valenzu Rut 15.960     5
Abono Liquidación Capital Depósito                               5
Cargo por transferencia a PILAR ERRAZURIZ TALAVERA Rut 7.093     4
Cargo por transferencia a cristóbal valenzuela Rut 16.095.76     4
Transferencia de SANTIAGO LARRAIN ERRAZURIZ Rut 16097946-1 d     4
Transferencia de MARIA MAGDALENA ECHEVERRIA ARTEAGA Rut 1563     4
Cargo por transferencia a Alberto Fuentes Vallejos Rut 10.75     4
Abono por transferencia de FINTUAL ADMINISTRADORA GENERAL DE     3
Cargo por Pago Tarjeta VISA Nro.XXXX XXX X 4769                  3
Cargo por transferencia a FRANCISCO PAEZ CARULLO Rut 19.679.     3
Abono por transferencia de Julio Pedro F uenzalida Mollinger     3
Cargo por transferencia a Diopoldina Ort iz Rut 10.969.034-1     3
Abono por transferencia de Camila Fuenza lida Rut 16.369.584     3
Cargo por transferencia a khipu CLBS B Rut 76.187.287-7 a Cu     2
Transferencia de SANTIAGO LARRAIN ERRAZU RIZ Rut 16097946-1      2
Cargo por Apertura de Depósito                                   2
Transferencia de PACIFIC LABS SPA Rut 77 007874-1 desde Banc     2
Cargo por transferencia a VEROONICA SANMARIN Rut 15.461.735-     2
Cargo por transferencia a jose tomas gut ierrez de la cer Ru     2
Cargo por transferencia a veronica san martin Rut 15.461.735     2
Name: Detalle, dtype: int64

In [23]:
exc = pd.read_excel("/home/santiago/MEGA/PacificLabs/Administrativo/COSTOS/20240131-Movimientos Nacionales de Cuenta Corriente .xls")

In [24]:
exc

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Cartola Anterior,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,CUENTAS CORRIENTES,NaN
1,NOMBRE DEL CLIENTE,NaN,NaN,NaN,NaN,CUENTA,NaN
2,SANTIAGO LARRAIN ERRAZURIZ,NaN,NaN,NaN,NaN,14-72780-9,NaN
3,Saldo Inicial,NaN,Saldo Final,NaN,Desde,Hasta,NaN
4,2.500.108,NaN,387.271,NaN,29 de diciembre de 2023,31 de enero de 2024,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Cargos por Cheques,NaN,NaN,NaN,NaN,NaN,NaN
8,Fecha,Documento,Descripción,NaN,NaN,NaN,Monto
9,No se registra movimientos para el período,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Cargos por Giros y Compras,NaN,NaN,NaN,NaN,NaN,NaN
12,Fecha,Documento,Descripción,NaN,NaN,NaN,Monto
13,No se registra movimientos para el período,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Cargos por Comisiones,NaN,NaN,NaN,NaN,NaN,NaN
16,Fecha,Documento,Descripción,NaN,NaN,NaN,Monto
17,No se registra movimientos para el período,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Otros Cargos,NaN,NaN,NaN,NaN,NaN,NaN
20,Fecha,Documento,Descripción,NaN,NaN,NaN,Monto
21,02-01,50359574,Cargo por transferencia a Mario Huaitro Rut 12...,NaN,NaN,NaN,25000
22,02-01,50359611,Cargo por transferencia a Diopoldina Ort iz Ru...,NaN,NaN,NaN,70000
23,10-01,50997976,Cargo por transferencia a JOSE MIGUEL DI EZ IH...,NaN,NaN,NaN,19000
24,10-01,50998105,Cargo por transferencia a Santiago Larra in Ru...,NaN,NaN,NaN,2000000
25,NaN,NaN,NaN,NaN,NaN,Subtotal:,2114000
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Abonos,NaN,NaN,NaN,NaN,NaN,NaN
28,Fecha,Documento,Descripción,NaN,NaN,NaN,Monto
29,30-01,05855497,"Abono por Transferencia vía CCA, origina dor R...",NaN,NaN,NaN,1163
30,NaN,NaN,NaN,NaN,NaN,Subtotal:,1163
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Otros Abonos,NaN,NaN,NaN,NaN,NaN,NaN
33,Fecha,Documento,Descripción,NaN,NaN,NaN,Monto
34,No se registra movimientos para el período,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,Resumen del,Saldo Inicial,Total Cargos,Total Abonos,Saldo Final
37,NaN,NaN,Período,2500108,2114000,1163,387271
38,Total Cargos por Comisiones: ...,NaN,NaN,Sobregiro Utilizado:,0,Sobregiro Disponible,0
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Saldos Diarios,NaN,NaN,NaN,NaN,NaN,NaN
41,Fecha,Saldo Contable,Sobregiro,NaN,Fecha,Saldo Contable,Sobregiro
42,02-01,2405108,NaN,NaN,30-01,387271,NaN
43,10-01,386108,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,INFORMACION REFERENCIAL SUJETA A CONFIRMACION,NaN,NaN,NaN
47,NaN,NaN,NaN,Infórmese sobre el límite de garantía estatal ...,NaN,NaN,NaN

In [91]:
def change(d):
    if len(d) == 5:
        return d + '-2024'
    else:
        return d


def get_mini_df(tipo, exc):
    d = {
        "Cargos":"Otros Cargos",
        "Abonos":"Abonos"
    }
    col_name = d[tipo]
    indice_inicio = exc.loc[exc[exc.columns[0]] == col_name].index[0] + 2
    for i in range(indice_inicio, len(exc)):
        if exc.loc[i, "Cartola Anterior"] == "Subtotal:":
            indice_fin = i -1
            print (i -1)
            break
    df = exc.loc[indice_inicio:indice_fin, [exc.columns[0], exc.columns[1], exc.columns[2], exc.columns[-1]]]
    df.columns = ['Fecha', 'Categoria', 'Detalle', 'Monto $']
    df.Categoria = tipo
    df.Fecha = df.Fecha.apply(change)
    df.Fecha = pd.to_datetime(df.Fecha, dayfirst=True).dt.date
    return df

In [38]:
indice_inicio = exc.loc[exc[exc.columns[0]] == "Otros Cargos"].index[0] + 2

In [41]:
for i in range(indice_inicio, len(exc)):
    if exc.loc[i, "Cartola Anterior"] == "Subtotal:":
        indice_fin = i -1
        print (i -1)
        break

24

In [48]:
cargos = exc.loc[indice_inicio:indice_fin, [exc.columns[0], exc.columns[1], exc.columns[2], exc.columns[-1]]]
cargos.columns = ['Fecha', 'Categoria', 'Detalle', 'Monto $']
cargos.Categoria = "Cargos"
cargos

,Fecha,Categoria,Detalle,Monto $
21,02-01,Cargos,Cargo por transferencia a Mario Huaitro Rut 12...,25000
22,02-01,Cargos,Cargo por transferencia a Diopoldina Ort iz Ru...,70000
23,10-01,Cargos,Cargo por transferencia a JOSE MIGUEL DI EZ IH...,19000
24,10-01,Cargos,Cargo por transferencia a Santiago Larra in Ru...,2000000

In [92]:
cargos = get_mini_df("Cargos", exc)
cargos

24

,Fecha,Categoria,Detalle,Monto $
21,2024-01-02,Cargos,Cargo por transferencia a Mario Huaitro Rut 12...,25000
22,2024-01-02,Cargos,Cargo por transferencia a Diopoldina Ort iz Ru...,70000
23,2024-01-10,Cargos,Cargo por transferencia a JOSE MIGUEL DI EZ IH...,19000
24,2024-01-10,Cargos,Cargo por transferencia a Santiago Larra in Ru...,2000000

In [93]:
abonos = get_mini_df("Abonos", exc)
abonos

29

,Fecha,Categoria,Detalle,Monto $
29,2024-01-30,Abonos,"Abono por Transferencia vía CCA, origina dor R...",1163

In [94]:
cargos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 21 to 24
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha      4 non-null      object
 1   Categoria  4 non-null      object
 2   Detalle    4 non-null      object
 3   Monto $    4 non-null      object
dtypes: object(4)
memory usage: 260.0+ bytes

In [79]:
startrow = len(df)+1

In [83]:
filename = "/home/santiago/MEGA/PacificLabs/Administrativo/COSTOS/COSTOS2023 (copy).xlsx"

In [95]:
with pd.ExcelWriter(
    filename,
    # engine='openpyxl',
    mode="a",
    if_sheet_exists="overlay",
    date_format='%Y-%m-%d',
    datetime_format='%Y-%m-%d',
) as writer:
    cargos.to_excel(writer, sheet_name="datos", index=False, startrow=startrow, header=False)
    abonos.to_excel(writer, sheet_name="datos", index=False, startrow=startrow+len(cargos), header=False)

In [97]:
print (cargos.to_markdown())

|    | Fecha      | Categoria   | Detalle                                                                                                                       |   Monto $ |
|---:|:-----------|:------------|:------------------------------------------------------------------------------------------------------------------------------|----------:|
| 21 | 2024-01-02 | Cargos      | Cargo por transferencia a Mario Huaitro Rut 12.754.022-5 a Cuenta Vista de B.Est ado, el 31/12/2023 a las 12:54               |     25000 |
| 22 | 2024-01-02 | Cargos      | Cargo por transferencia a Diopoldina Ort iz Rut 10.969.034-1 a Cuenta Vista de B. Estado, el 31/12/2023 a las 12:55           |     70000 |
| 23 | 2024-01-10 | Cargos      | Cargo por transferencia a JOSE MIGUEL DI EZ IHNEN Rut 16.098.751-0 a Cuenta Corri ente de B.Chile, el 09/01/2024 a las 17: 09 |     19000 |
| 24 | 2024-01-10 | Cargos      | Cargo por transferencia a Santiago Larra in Rut 16.097.946-1 a Cuenta Corriente d e B.Chile, el 09/01/2024 a las 17:11        |   2000000 |

In [2]:
a = pd.read_html("/home/santiago/MEGA/PacificLabs/Administrativo/COSTOS/DTE_DOWN770078742024-02-29.txt")

In [4]:
a[0]

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,TipoDTE,Folio,FechaEmision,TipoDespacho,FormaPago,RutEmisor,RazonSocialEmisor,GiroEmisor,Acteco,CodSIISucursal,...,Comuna,Ciudad,Total-Neto,Total-Exento,Total-IVA,Total-MontoTotal,MontoPeriodo,Monto-NoFacturable,Saldo-Anterior,ValorPagar
1,34,19,2019-12-19,NaN,2,77007874-1,PACIFIC LABS SPA,ASESORIAS EN ANALISIS CIENTIFICOS,702000,083226027,...,HUECHURABA,SANTIAGO,NaN,3537374,NaN,3537374,NaN,NaN,NaN,NaN
2,DETALLE,Item,Cod,Codigo,Descripcion,Cantidad,Precio,Descuento %,Descuento $,Cod.ImptoAdic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1,NaN,NaN,Asesorias Machine Learnin,1.00,3537374.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,TipoDTE,Folio,FechaEmision,TipoDespacho,FormaPago,RutEmisor,RazonSocialEmisor,GiroEmisor,Acteco,CodSIISucursal,...,Comuna,Ciudad,Total-Neto,Total-Exento,Total-IVA,Total-MontoTotal,MontoPeriodo,Monto-NoFacturable,Saldo-Anterior,ValorPagar
96,34,1,2019-05-02,NaN,2,77007874-1,PACIFIC LABS SPA,ASESORIAS EN ANALISIS CIENTIFICOS,702000,083226027,...,LAS CONDES,SANTIAGO,NaN,2767137,NaN,2767137,NaN,NaN,NaN,NaN
97,DETALLE,Item,Cod,Codigo,Descripcion,Cantidad,Precio,Descuento %,Descuento $,Cod.ImptoAdic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,1,NaN,NaN,Consult Data Science 01,1.00,2767137.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN