In [18]:
import sqlite3
import pandas as pd

In [19]:
db = "/home/santiago/Documents/hamster.db"

In [20]:
cnx = sqlite3.connect(db)

In [21]:
q1 = "SELECT * FROM activities"
q2 = "SELECT * FROM categories"
q3 = "SELECT * FROM facts"

In [22]:
activities = pd.read_sql_query(q1, cnx)

In [23]:
categories = pd.read_sql_query(q2, cnx)

In [24]:
facts = pd.read_sql_query(q3, cnx, parse_dates=['start_time', 'stop_time'])

In [122]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 5 columns):
id             517 non-null int64
activity_id    517 non-null int64
start_time     517 non-null datetime64[ns]
end_time       516 non-null datetime64[ns]
description    249 non-null object
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 20.3+ KB

In [25]:
if facts.end_time.iloc[-1] is None:
    facts.end_time.iloc[-1] = pd.datetime.now()
facts.end_time = pd.to_datetime(facts.end_time)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [46]:
facts['duration'] = (facts.end_time - facts.start_time)/ pd.np.timedelta64(1, 'h')
df3 = activities.merge(categories, left_on='category_id', right_on='id')
df2 = facts.set_index("start_time").last("1M")
df = df2.reset_index().merge(activities[['id', 'category_id']],right_on='id', left_on='activity_id')

In [45]:
(facts.end_time - facts.start_time)/ pd.np.timedelta64(1, 'h')

0      1.517222
1      0.915833
2      2.600556
3      0.807778
4      0.403333
5      3.668333
6      1.666667
7      7.250000
8      0.960556
9      3.043889
10     1.070000
11     2.025833
12     1.455278
13     0.566667
14     0.316667
15     1.500000
16     0.198889
17     1.066667
18     5.327500
19     0.207778
20     0.097778
21     0.236111
22     0.750000
23     2.600000
24     1.985833
25     2.772778
26     1.600000
27     6.350000
28     1.000000
29     2.000000
         ...
487    0.524444
488    0.270833
489    1.089167
490    0.969444
491    1.816667
492    1.245278
493    6.000000
494    1.226389
495    2.171944
496    1.335000
497    1.589167
498    1.293056
499    0.761389
500    0.322222
501    0.500000
502    1.098611
503    0.741667
504    1.473889
505    0.508889
506    0.573333
507    0.182222
508    2.605556
509    0.195278
510    1.115556
511    0.122222
512    0.146667
513    2.675833
514    0.177222
515    1.917778
516    4.735403
Length: 517, dtype: float64

In [50]:
actual = df.groupby('category_id')['duration'].sum().to_dict()
actual

{2: 25.79611111111112,
 7: 1.2930555555555556,
 8: 22.98373680611111,
 10: 4.545555555555556,
 11: 0.04111111111111111,
 12: 5.494722222222222}

In [119]:
base_original = {
    2: 25,
    8: 20,
    12: 22
}
base = base_original.copy()
names = df3[['id_y', 'name_y']].drop_duplicates().set_index('id_y')['name_y'].to_dict()
suma = 0
total_mes = sum(base.values())
for empresa in base:
    suma += actual[empresa]
    base[empresa] -= actual[empresa]
horas_left = total_mes- suma
bdays_left = len(pd.bdate_range(pd.datetime.now().date()+pd.Timedelta(days=1), pd.datetime.now().date()+pd.tseries.offsets.MonthEnd(0)))
horas_por_dia = horas_left/bdays_left

In [120]:
print ("Horas: {:.1f} - Por dia: {:.1f}".format(horas_left, horas_por_dia))

Horas: 12.7 - Por dia: 2.1

In [91]:
for x in base:
    print ("{}: {:.1f}".format(names[x], base[x]))

SECOM: -0.8
Defontana: -3.0
trabajando.com: 16.5

In [117]:
bdays_left = len(pd.bdate_range(pd.datetime.now().date()+pd.Timedelta(days=1), pd.datetime.now().date()+pd.tseries.offsets.MonthEnd(0)))

In [118]:
horas_left/bdays_left

2.1209049767592583

In [112]:
pd.datetime.now().date()+pd.Timedelta(days=1)

datetime.date(2019, 6, 21)

In [61]:
values = df4.set_index("id_x").to_dict()

In [69]:
df3[['id_y', 'name_y']].drop_duplicates().set_index('id_y').to_dict()

{'name_y': {2: 'SECOM',
  3: 'Caja18',
  4: 'KCloud',
  5: 'Copesa',
  6: 'ratio',
  7: 'AChS',
  8: 'Defontana',
  9: 'RN',
  10: 'Massiva',
  11: 'GTD',
  12: 'trabajando.com'}}

In [77]:
type(df.groupby('category_id')['duration'].sum())

pandas.core.series.Series

In [79]:
df3[['id_y', 'name_y']].drop_duplicates().set_index('id_y')['name_y'].to_dict()

{2: 'SECOM',
 3: 'Caja18',
 4: 'KCloud',
 5: 'Copesa',
 6: 'ratio',
 7: 'AChS',
 8: 'Defontana',
 9: 'RN',
 10: 'Massiva',
 11: 'GTD',
 12: 'trabajando.com'}

In [85]:
t2.merge(df[['id', "category_id"]],left_on='id', right_on='id')

Empty DataFrame
Columns: [id, activity_id, end_time, description, category_id]
Index: []

In [82]:
df[['id', "category_id"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
id             24 non-null int64
category_id    24 non-null int64
dtypes: int64(2)
memory usage: 464.0 bytes

In [116]:
t2.reset_index().merge(df[['id', 'category_id']],right_on='id', left_on='activity_id')

,start_time,id_x,activity_id,end_time,description,id_y,category_id
0,2019-06-03 10:32:14,630,24,2019-06-03 15:04:58.000000,None,24,10
1,2019-06-03 17:36:38,631,5,2019-06-03 17:48:18.000000,graphs,5,2
2,2019-06-03 18:08:50,632,5,2019-06-03 19:13:46.000000,graphs,5,2
3,2019-06-03 19:35:00,635,5,2019-06-03 20:50:00.000000,graphs,5,2
4,2019-06-04 10:10:00,637,5,2019-06-04 10:28:35.000000,graphs,5,2
5,2019-06-04 10:28:36,638,5,2019-06-04 10:46:45.000000,graphs,5,2
6,2019-06-04 10:49:21,639,5,2019-06-04 16:02:19.000000,graphs,5,2
7,2019-06-04 18:59:01,640,5,2019-06-04 19:53:25.000000,graphs,5,2
8,2019-06-04 19:59:53,641,5,2019-06-04 20:49:34.000000,graphs,5,2
9,2019-06-04 23:03:39,642,5,2019-06-04 23:13:58.000000,graphs,5,2
10,2019-06-05 11:10:31,643,5,2019-06-05 12:31:34.000000,graphs,5,2
11,2019-06-06 09:59:29,648,5,2019-06-06 10:41:24.000000,None,5,2
12,2019-06-06 11:00:59,650,5,2019-06-06 11:22:34.000000,None,5,2
13,2019-06-06 12:00:45,652,5,2019-06-06 12:25:59.000000,None,5,2
14,2019-06-10 19:25:44,660,5,2019-06-10 20:40:27.000000,None,5,2
15,2019-06-11 11:00:00,661,5,2019-06-11 17:00:00.000000,None,5,2
16,2019-06-14 16:34:33,669,5,2019-06-14 16:53:53.000000,None,5,2
17,2019-06-20 12:18:54,684,5,2019-06-20 12:29:32.000000,None,5,2
18,2019-06-04 09:57:48,636,25,2019-06-04 10:00:16.000000,None,25,11
19,2019-06-05 12:40:35,644,20,2019-06-05 13:25:07.000000,dashboard,20,8
20,2019-06-05 14:13:42,645,20,2019-06-05 14:22:17.000000,dashboard,20,8
21,2019-06-05 15:03:51,646,20,2019-06-05 15:48:01.000000,dashboard,20,8
22,2019-06-05 17:08:34,647,20,2019-06-05 17:39:32.000000,dashboard,20,8
23,2019-06-06 10:51:05,649,20,2019-06-06 11:00:58.000000,graphs,20,8
24,2019-06-06 11:22:35,651,20,2019-06-06 11:58:09.000000,graphs,20,8
25,2019-06-06 12:26:00,653,20,2019-06-06 12:37:46.000000,graphs,20,8
26,2019-06-06 17:01:06,654,20,2019-06-06 17:32:34.000000,graphs,20,8
27,2019-06-07 13:15:11,655,20,2019-06-07 13:31:26.000000,graphs,20,8
28,2019-06-07 16:50:00,656,20,2019-06-07 17:55:21.000000,graphs,20,8
29,2019-06-10 09:55:53,657,20,2019-06-10 10:54:03.000000,graphs,20,8
30,2019-06-10 13:21:00,659,20,2019-06-10 15:10:00.000000,None,20,8
31,2019-06-17 15:43:00,671,20,2019-06-17 16:13:00.000000,None,20,8
32,2019-06-17 16:54:21,672,20,2019-06-17 18:00:16.000000,None,20,8
33,2019-06-19 09:47:14,676,20,2019-06-19 10:21:38.000000,None,20,8
34,2019-06-19 10:55:24,678,20,2019-06-19 13:31:44.000000,None,20,8
35,2019-06-19 14:27:14,680,20,2019-06-19 15:34:10.000000,None,20,8
36,2019-06-20 09:38:16,683,20,2019-06-20 12:18:49.000000,None,20,8
37,2019-06-20 12:29:33,685,20,2019-06-20 14:24:37.000000,None,20,8
38,2019-06-20 15:27:07,686,20,2019-06-20 18:25:29.582545,None,20,8
39,2019-06-12 10:21:15,663,26,2019-06-12 11:34:50.000000,None,26,12
40,2019-06-12 16:33:22,664,26,2019-06-12 18:43:41.000000,None,26,12
41,2019-06-13 10:57:34,665,26,2019-06-13 12:17:40.000000,None,26,12
42,2019-06-14 11:54:17,668,26,2019-06-14 12:39:58.000000,None,26,12
43,2019-06-13 16:15:01,666,14,2019-06-13 17:50:22.000000,None,14,2
44,2019-06-14 10:34:35,667,23,2019-06-14 11:52:10.000000,conclusiones reporte,23,7
45,2019-06-18 11:38:41,673,27,2019-06-18 12:23:11.000000,None,27,2
46,2019-06-18 13:03:36,674,27,2019-06-18 14:32:02.000000,None,27,2
47,2019-06-18 16:23:56,675,27,2019-06-18 16:54:28.000000,None,27,2
48,2019-06-19 10:36:01,677,27,2019-06-19 10:46:57.000000,None,27,2
49,2019-06-19 14:15:24,679,27,2019-06-19 14:27:07.000000,None,27,2
50,2019-06-19 19:16:35,681,27,2019-06-19 19:23:55.000000,None,27,2
51,2019-06-20 09:29:25,682,27,2019-06-20 09:38:13.000000,None,27,2