In [44]:
import sqlite3
import pandas as pd

In [45]:
db = "/home/santiago/Documents/hamster.db"
db = "/home/santiago/Dropbox/hamster-applet/hamster.db"

In [46]:
cnx = sqlite3.connect(db)

In [47]:
q1 = "SELECT * FROM activities"
q2 = "SELECT * FROM categories"
q3 = "SELECT * FROM facts"

In [48]:
activities = pd.read_sql_query(q1, cnx)

In [49]:
categories = pd.read_sql_query(q2, cnx)

In [50]:
facts = pd.read_sql_query(q3, cnx, parse_dates=['start_time', 'stop_time'])

In [51]:
if facts.end_time.iloc[-1] is None:
    facts.end_time.iloc[-1] = pd.datetime.now()
facts.end_time = pd.to_datetime(facts.end_time)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [52]:
facts['duration'] = (facts.end_time - facts.start_time)/ pd.np.timedelta64(1, 'h')
df3 = activities.merge(categories, left_on='category_id', right_on='id')
df2 = facts.set_index("start_time").last("1M")
df = df2.reset_index().merge(activities[['id', 'category_id']],right_on='id', left_on='activity_id')

In [45]:
(facts.end_time - facts.start_time)/ pd.np.timedelta64(1, 'h')

0      1.517222
1      0.915833
2      2.600556
3      0.807778
4      0.403333
5      3.668333
6      1.666667
7      7.250000
8      0.960556
9      3.043889
10     1.070000
11     2.025833
12     1.455278
13     0.566667
14     0.316667
15     1.500000
16     0.198889
17     1.066667
18     5.327500
19     0.207778
20     0.097778
21     0.236111
22     0.750000
23     2.600000
24     1.985833
25     2.772778
26     1.600000
27     6.350000
28     1.000000
29     2.000000
         ...
487    0.524444
488    0.270833
489    1.089167
490    0.969444
491    1.816667
492    1.245278
493    6.000000
494    1.226389
495    2.171944
496    1.335000
497    1.589167
498    1.293056
499    0.761389
500    0.322222
501    0.500000
502    1.098611
503    0.741667
504    1.473889
505    0.508889
506    0.573333
507    0.182222
508    2.605556
509    0.195278
510    1.115556
511    0.122222
512    0.146667
513    2.675833
514    0.177222
515    1.917778
516    4.735403
Length: 517, dtype: float64

In [53]:
actual = df.groupby('category_id')['duration'].sum().to_dict()
actual

{2: 29.058611111111123,
 7: 1.2930555555555556,
 8: 24.772222222222222,
 10: 4.545555555555556,
 11: 0.04111111111111111,
 12: 21.42732232694444}

In [58]:
base_original = {
    2: 25*23/30 - 15.5 + 25,
    8: 120-95.2,
    12: 22
}
base = base_original.copy()
names = df3[['id_y', 'name_y']].drop_duplicates().set_index('id_y')['name_y'].to_dict()
suma = 0
total_mes = sum(base.values())
for empresa in base:
    suma += actual[empresa]
    base[empresa] -= actual[empresa]
horas_left = total_mes- suma
bdays_left = len(pd.bdate_range(pd.datetime.now().date()+pd.Timedelta(days=1), pd.datetime.now().date()+pd.tseries.offsets.MonthEnd(0)))
horas_por_dia = horas_left/bdays_left if bdays_left > 0 else 0

In [59]:
print ("Horas: {:.1f} - Por dia: {:.1f}".format(horas_left, horas_por_dia))

Horas: 0.2 - Por dia: 0.0

In [60]:
for x in base:
    print ("{}: {:.1f}".format(names[x], base[x]))

SECOM: -0.4
Defontana: 0.0
trabajando.com: 0.6

In [117]:
bdays_left = len(pd.bdate_range(pd.datetime.now().date()+pd.Timedelta(days=1), pd.datetime.now().date()+pd.tseries.offsets.MonthEnd(0)))

In [118]:
horas_left/bdays_left

2.1209049767592583

In [112]:
pd.datetime.now().date()+pd.Timedelta(days=1)

datetime.date(2019, 6, 21)

In [61]:
values = df4.set_index("id_x").to_dict()

In [69]:
df3[['id_y', 'name_y']].drop_duplicates().set_index('id_y').to_dict()

{'name_y': {2: 'SECOM',
  3: 'Caja18',
  4: 'KCloud',
  5: 'Copesa',
  6: 'ratio',
  7: 'AChS',
  8: 'Defontana',
  9: 'RN',
  10: 'Massiva',
  11: 'GTD',
  12: 'trabajando.com'}}

In [77]:
type(df.groupby('category_id')['duration'].sum())

pandas.core.series.Series

In [79]:
df3[['id_y', 'name_y']].drop_duplicates().set_index('id_y')['name_y'].to_dict()

{2: 'SECOM',
 3: 'Caja18',
 4: 'KCloud',
 5: 'Copesa',
 6: 'ratio',
 7: 'AChS',
 8: 'Defontana',
 9: 'RN',
 10: 'Massiva',
 11: 'GTD',
 12: 'trabajando.com'}

In [85]:
t2.merge(df[['id', "category_id"]],left_on='id', right_on='id')

Empty DataFrame
Columns: [id, activity_id, end_time, description, category_id]
Index: []

In [82]:
df[['id', "category_id"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
id             24 non-null int64
category_id    24 non-null int64
dtypes: int64(2)
memory usage: 464.0 bytes

In [116]:
t2.reset_index().merge(df[['id', 'category_id']],right_on='id', left_on='activity_id')

,start_time,id_x,activity_id,end_time,description,id_y,category_id
0,2019-06-03 10:32:14,630,24,2019-06-03 15:04:58.000000,None,24,10
1,2019-06-03 17:36:38,631,5,2019-06-03 17:48:18.000000,graphs,5,2
2,2019-06-03 18:08:50,632,5,2019-06-03 19:13:46.000000,graphs,5,2
3,2019-06-03 19:35:00,635,5,2019-06-03 20:50:00.000000,graphs,5,2
4,2019-06-04 10:10:00,637,5,2019-06-04 10:28:35.000000,graphs,5,2
5,2019-06-04 10:28:36,638,5,2019-06-04 10:46:45.000000,graphs,5,2
6,2019-06-04 10:49:21,639,5,2019-06-04 16:02:19.000000,graphs,5,2
7,2019-06-04 18:59:01,640,5,2019-06-04 19:53:25.000000,graphs,5,2
8,2019-06-04 19:59:53,641,5,2019-06-04 20:49:34.000000,graphs,5,2
9,2019-06-04 23:03:39,642,5,2019-06-04 23:13:58.000000,graphs,5,2
10,2019-06-05 11:10:31,643,5,2019-06-05 12:31:34.000000,graphs,5,2
11,2019-06-06 09:59:29,648,5,2019-06-06 10:41:24.000000,None,5,2
12,2019-06-06 11:00:59,650,5,2019-06-06 11:22:34.000000,None,5,2
13,2019-06-06 12:00:45,652,5,2019-06-06 12:25:59.000000,None,5,2
14,2019-06-10 19:25:44,660,5,2019-06-10 20:40:27.000000,None,5,2
15,2019-06-11 11:00:00,661,5,2019-06-11 17:00:00.000000,None,5,2
16,2019-06-14 16:34:33,669,5,2019-06-14 16:53:53.000000,None,5,2
17,2019-06-20 12:18:54,684,5,2019-06-20 12:29:32.000000,None,5,2
18,2019-06-04 09:57:48,636,25,2019-06-04 10:00:16.000000,None,25,11
19,2019-06-05 12:40:35,644,20,2019-06-05 13:25:07.000000,dashboard,20,8
20,2019-06-05 14:13:42,645,20,2019-06-05 14:22:17.000000,dashboard,20,8
21,2019-06-05 15:03:51,646,20,2019-06-05 15:48:01.000000,dashboard,20,8
22,2019-06-05 17:08:34,647,20,2019-06-05 17:39:32.000000,dashboard,20,8
23,2019-06-06 10:51:05,649,20,2019-06-06 11:00:58.000000,graphs,20,8
24,2019-06-06 11:22:35,651,20,2019-06-06 11:58:09.000000,graphs,20,8
25,2019-06-06 12:26:00,653,20,2019-06-06 12:37:46.000000,graphs,20,8
26,2019-06-06 17:01:06,654,20,2019-06-06 17:32:34.000000,graphs,20,8
27,2019-06-07 13:15:11,655,20,2019-06-07 13:31:26.000000,graphs,20,8
28,2019-06-07 16:50:00,656,20,2019-06-07 17:55:21.000000,graphs,20,8
29,2019-06-10 09:55:53,657,20,2019-06-10 10:54:03.000000,graphs,20,8
30,2019-06-10 13:21:00,659,20,2019-06-10 15:10:00.000000,None,20,8
31,2019-06-17 15:43:00,671,20,2019-06-17 16:13:00.000000,None,20,8
32,2019-06-17 16:54:21,672,20,2019-06-17 18:00:16.000000,None,20,8
33,2019-06-19 09:47:14,676,20,2019-06-19 10:21:38.000000,None,20,8
34,2019-06-19 10:55:24,678,20,2019-06-19 13:31:44.000000,None,20,8
35,2019-06-19 14:27:14,680,20,2019-06-19 15:34:10.000000,None,20,8
36,2019-06-20 09:38:16,683,20,2019-06-20 12:18:49.000000,None,20,8
37,2019-06-20 12:29:33,685,20,2019-06-20 14:24:37.000000,None,20,8
38,2019-06-20 15:27:07,686,20,2019-06-20 18:25:29.582545,None,20,8
39,2019-06-12 10:21:15,663,26,2019-06-12 11:34:50.000000,None,26,12
40,2019-06-12 16:33:22,664,26,2019-06-12 18:43:41.000000,None,26,12
41,2019-06-13 10:57:34,665,26,2019-06-13 12:17:40.000000,None,26,12
42,2019-06-14 11:54:17,668,26,2019-06-14 12:39:58.000000,None,26,12
43,2019-06-13 16:15:01,666,14,2019-06-13 17:50:22.000000,None,14,2
44,2019-06-14 10:34:35,667,23,2019-06-14 11:52:10.000000,conclusiones reporte,23,7
45,2019-06-18 11:38:41,673,27,2019-06-18 12:23:11.000000,None,27,2
46,2019-06-18 13:03:36,674,27,2019-06-18 14:32:02.000000,None,27,2
47,2019-06-18 16:23:56,675,27,2019-06-18 16:54:28.000000,None,27,2
48,2019-06-19 10:36:01,677,27,2019-06-19 10:46:57.000000,None,27,2
49,2019-06-19 14:15:24,679,27,2019-06-19 14:27:07.000000,None,27,2
50,2019-06-19 19:16:35,681,27,2019-06-19 19:23:55.000000,None,27,2
51,2019-06-20 09:29:25,682,27,2019-06-20 09:38:13.000000,None,27,2

In [1]:
import sqlite3
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

db = "/home/santiago/Dropbox/hamster-applet/hamster.db"

cnx = sqlite3.connect(db)

base_original = {
    2: 25,
    8: 20,
    12: 22
}

# Excepcion 
base_original = {
    2: 25*23/30 - 15.5 + 25,
    8: 120-95.2,
    12: 22
}

q1 = "SELECT * FROM activities"
q2 = "SELECT * FROM categories"
q3 = "SELECT * FROM facts"

activities = pd.read_sql_query(q1, cnx)
categories = pd.read_sql_query(q2, cnx)
facts = pd.read_sql_query(q3, cnx, parse_dates=['start_time', 'stop_time'])
if facts.end_time.iloc[-1] is None:
    facts.end_time.iloc[-1] = pd.datetime.now()
facts.end_time = pd.to_datetime(facts.end_time)

facts['duration'] = (facts.end_time - facts.start_time)/ pd.np.timedelta64(1, 'h')
df3 = activities.merge(categories, left_on='category_id', right_on='id')
df2 = facts.set_index("start_time").last("1M")
df = df2.reset_index().merge(activities[['id', 'category_id']],right_on='id', left_on='activity_id')
actual = df.groupby('category_id')['duration'].sum().to_dict()

In [2]:
actual

{2: 31.65277777777779,
 7: 2.8597222222222225,
 8: 22.14,
 10: 4.545555555555556,
 11: 0.04111111111111111,
 12: 12.745000000000001}

In [3]:
df

,start_time,id_x,activity_id,end_time,description,duration,id_y,category_id
0,2019-05-31 10:26:00,628,23,2019-05-31 12:00:00,None,1.566667,23,7
1,2019-06-14 10:34:35,667,23,2019-06-14 11:52:10,conclusiones reporte,1.293056,23,7
2,2019-05-30 15:00:00,629,5,2019-05-30 17:40:00,None,2.666667,5,2
3,2019-06-03 17:36:38,631,5,2019-06-03 17:48:18,graphs,0.194444,5,2
4,2019-06-03 18:08:50,632,5,2019-06-03 19:13:46,graphs,1.082222,5,2
5,2019-06-03 19:35:00,635,5,2019-06-03 20:50:00,graphs,1.250000,5,2
6,2019-06-04 10:10:00,637,5,2019-06-04 10:28:35,graphs,0.309722,5,2
7,2019-06-04 10:28:36,638,5,2019-06-04 10:46:45,graphs,0.302500,5,2
8,2019-06-04 10:49:21,639,5,2019-06-04 16:02:19,graphs,5.216111,5,2
9,2019-06-04 18:59:01,640,5,2019-06-04 19:53:25,graphs,0.906667,5,2
10,2019-06-04 19:59:53,641,5,2019-06-04 20:49:34,graphs,0.828056,5,2
11,2019-06-04 23:03:39,642,5,2019-06-04 23:13:58,graphs,0.171944,5,2
12,2019-06-05 11:10:31,643,5,2019-06-05 12:31:34,graphs,1.350833,5,2
13,2019-06-06 09:59:29,648,5,2019-06-06 10:41:24,None,0.698611,5,2
14,2019-06-06 11:00:59,650,5,2019-06-06 11:22:34,None,0.359722,5,2
15,2019-06-06 12:00:45,652,5,2019-06-06 12:25:59,None,0.420556,5,2
16,2019-06-10 19:25:44,660,5,2019-06-10 20:40:27,None,1.245278,5,2
17,2019-06-11 11:00:00,661,5,2019-06-11 17:00:00,None,6.000000,5,2
18,2019-06-14 16:34:33,669,5,2019-06-14 16:53:53,None,0.322222,5,2
19,2019-06-20 12:18:54,684,5,2019-06-20 12:29:32,None,0.177222,5,2
20,2019-06-21 11:05:00,691,5,2019-06-21 11:20:00,None,0.250000,5,2
21,2019-06-24 11:14:29,697,5,2019-06-24 11:18:38,None,0.069167,5,2
22,2019-06-24 17:19:09,700,5,2019-06-24 18:05:52,None,0.778611,5,2
23,2019-06-24 18:42:40,702,5,2019-06-24 18:51:04,None,0.140000,5,2
24,2019-06-25 10:19:20,703,5,2019-06-25 12:16:28,None,1.952222,5,2
25,2019-06-03 10:32:14,630,24,2019-06-03 15:04:58,None,4.545556,24,10
26,2019-06-04 09:57:48,636,25,2019-06-04 10:00:16,None,0.041111,25,11
27,2019-06-05 12:40:35,644,20,2019-06-05 13:25:07,dashboard,0.742222,20,8
28,2019-06-05 14:13:42,645,20,2019-06-05 14:22:17,dashboard,0.143056,20,8
29,2019-06-05 15:03:51,646,20,2019-06-05 15:48:01,dashboard,0.736111,20,8
...,...,...,...,...,...,...,...,...
38,2019-06-10 13:21:00,659,20,2019-06-10 15:10:00,None,1.816667,20,8
39,2019-06-17 15:43:00,671,20,2019-06-17 16:13:00,None,0.500000,20,8
40,2019-06-17 16:54:21,672,20,2019-06-17 18:00:16,None,1.098611,20,8
41,2019-06-19 09:47:14,676,20,2019-06-19 10:21:38,None,0.573333,20,8
42,2019-06-19 10:55:24,678,20,2019-06-19 13:31:44,None,2.605556,20,8
43,2019-06-19 14:27:14,680,20,2019-06-19 15:34:10,None,1.115556,20,8
44,2019-06-20 09:38:16,683,20,2019-06-20 12:18:49,None,2.675833,20,8
45,2019-06-20 12:29:33,685,20,2019-06-20 14:24:37,None,1.917778,20,8
46,2019-06-20 15:27:07,686,20,2019-06-20 17:49:36,None,2.374722,20,8
47,2019-06-20 18:20:12,687,20,2019-06-20 19:02:17,None,0.701389,20,8
48,2019-06-20 20:00:15,688,20,2019-06-20 20:49:11,None,0.815556,20,8
49,2019-06-12 10:21:15,663,26,2019-06-12 11:34:50,None,1.226389,26,12
50,2019-06-12 16:33:22,664,26,2019-06-12 18:43:41,None,2.171944,26,12
51,2019-06-13 10:57:34,665,26,2019-06-13 12:17:40,None,1.335000,26,12
52,2019-06-14 11:54:17,668,26,2019-06-14 12:39:58,None,0.761389,26,12
53,2019-06-20 20:49:25,689,26,2019-06-20 21:39:29,None,0.834444,26,12
54,2019-06-21 13:40:48,693,26,2019-06-21 14:57:38,None,1.280556,26,12
55,2019-06-21 17:06:38,695,26,2019-06-21 17:46:28,None,0.663889,26,12
56,2019-06-21 20:23:39,696,26,2019-06-21 20:44:46,None,0.351944,26,12
57,2019-06-24 12:16:21,698,26,2019-06-24 15:08:35,None,2.870556,26,12
58,2019-06-24 16:13:56,699,26,2019-06-24 17:19:05,None,1.085833,26,12
59,2019-06-24 18:05:55,701,26,2019-06-24 18:15:42,None,0.163056,26,12
60,2019-06-13 16:15:01,666,14,2019-06-13 17:50:22,None,1.589167,14,2
61,2019-06-18 11:38:41,673,27,2019-06-18 12:23:11,None,0.741667,27,2
62,2019-06-18 13:03:36,674,27,2019-06-18 14:32:02,None,1.473889,27,2
63,2019-06-18 16:23:56,675,27,2019-06-18 16:54:28,None,0.508889,27,2
64,2019-06-19 10:36:01,677,27,2019-06-19 10:46:57,None,0.182222,27,2
65,2019-06-19 14:15:24,679,27,2019-06-19 14:27:07,None,0.195278,27,2
66,2019-06-19 19:16:35,681,27,2019-06-19 19:23:55,None,0.122222,27,2
67,2019-06-20 09:29:25,682,27,2019-06-20 09:38:13,None,0.146667,27,2

In [16]:
facts

,id,activity_id,start_time,end_time,description,duration
0,2,5,2018-05-07 11:15:00,2018-05-07 12:46:02.000000,Twitter search terms,1.517222
1,3,6,2018-04-16 12:42:00,2018-04-16 13:36:57.000000,None,0.915833
2,4,6,2018-04-16 15:53:07,2018-04-16 18:29:09.000000,None,2.600556
3,5,6,2018-04-17 15:22:19,2018-04-17 16:10:47.000000,None,0.807778
4,6,6,2018-04-17 19:09:51,2018-04-17 19:34:03.000000,None,0.403333
5,7,6,2018-04-18 10:11:58,2018-04-18 13:52:04.000000,None,3.668333
6,8,6,2018-04-18 15:45:00,2018-04-18 17:25:00.000000,None,1.666667
7,9,6,2018-04-23 12:00:00,2018-04-23 19:15:00.000000,En La moneda.,7.250000
8,10,6,2018-04-24 15:55:36,2018-04-24 16:53:14.000000,None,0.960556
9,11,6,2018-04-24 16:57:00,2018-04-24 19:59:38.000000,Desarrollando Facebook App,3.043889
10,12,6,2018-04-25 15:31:33,2018-04-25 16:35:45.000000,None,1.070000
11,13,6,2018-04-25 17:27:44,2018-04-25 19:29:17.000000,None,2.025833
12,14,6,2018-04-26 17:58:00,2018-04-26 19:25:19.000000,Arreglando acceso a DB. Security Group open (G...,1.455278
13,15,6,2018-04-27 09:54:00,2018-04-27 10:28:00.000000,More testing,0.566667
14,16,6,2018-04-27 11:59:00,2018-04-27 12:18:00.000000,Create reder role,0.316667
15,17,6,2018-04-28 12:30:00,2018-04-28 14:00:00.000000,Arreglando Bug de id de noticia incorrecta,1.500000
16,23,5,2018-05-07 15:32:44,2018-05-07 15:44:40.000000,None,0.198889
17,24,5,2018-05-07 13:05:00,2018-05-07 14:09:00.000000,Codigo para busqueda de twitter,1.066667
18,27,5,2018-05-07 15:47:00,2018-05-07 21:06:39.000000,Codigo para Minar Twitter. Reutilizable.,5.327500
19,28,6,2018-05-08 13:45:07,2018-05-08 13:57:35.000000,None,0.207778
20,29,6,2018-05-08 14:42:55,2018-05-08 14:48:47.000000,None,0.097778
21,30,6,2018-05-08 17:41:50,2018-05-08 17:56:00.000000,None,0.236111
22,33,5,2018-05-10 13:30:00,2018-05-10 14:15:00.000000,Telefono y revision de RTs,0.750000
23,35,5,2018-05-10 18:11:00,2018-05-10 20:47:00.000000,SQL y fixing bugs,2.600000
24,37,5,2018-05-11 11:08:00,2018-05-11 13:07:09.000000,Fix RT id bug,1.985833
25,39,5,2018-05-11 16:25:00,2018-05-11 19:11:22.000000,SQL,2.772778
26,40,5,2018-05-09 11:14:00,2018-05-09 12:50:00.000000,Writing Code,1.600000
27,41,5,2018-05-09 14:28:00,2018-05-09 20:49:00.000000,Writing Code,6.350000
28,42,5,2018-05-03 10:00:00,2018-05-03 11:00:00.000000,Videoconferencia and work,1.000000
29,43,5,2018-05-03 17:00:00,2018-05-03 19:00:00.000000,Twitter Full Text,2.000000
...,...,...,...,...,...,...
508,678,20,2019-06-19 10:55:24,2019-06-19 13:31:44.000000,None,2.605556
509,679,27,2019-06-19 14:15:24,2019-06-19 14:27:07.000000,None,0.195278
510,680,20,2019-06-19 14:27:14,2019-06-19 15:34:10.000000,None,1.115556
511,681,27,2019-06-19 19:16:35,2019-06-19 19:23:55.000000,None,0.122222
512,682,27,2019-06-20 09:29:25,2019-06-20 09:38:13.000000,None,0.146667
513,683,20,2019-06-20 09:38:16,2019-06-20 12:18:49.000000,None,2.675833
514,684,5,2019-06-20 12:18:54,2019-06-20 12:29:32.000000,None,0.177222
515,685,20,2019-06-20 12:29:33,2019-06-20 14:24:37.000000,None,1.917778
516,686,20,2019-06-20 15:27:07,2019-06-20 17:49:36.000000,None,2.374722
517,687,20,2019-06-20 18:20:12,2019-06-20 19:02:17.000000,None,0.701389
518,688,20,2019-06-20 20:00:15,2019-06-20 20:49:11.000000,None,0.815556
519,689,26,2019-06-20 20:49:25,2019-06-20 21:39:29.000000,None,0.834444
520,691,5,2019-06-21 11:05:00,2019-06-21 11:20:00.000000,None,0.250000
521,693,26,2019-06-21 13:40:48,2019-06-21 14:57:38.000000,None,1.280556
522,695,26,2019-06-21 17:06:38,2019-06-21 17:46:28.000000,None,0.663889
523,696,26,2019-06-21 20:23:39,2019-06-21 20:44:46.000000,None,0.351944
524,697,5,2019-06-24 11:14:29,2019-06-24 11:18:38.000000,None,0.069167
525,698,26,2019-06-24 12:16:21,2019-06-24 15:08:35.000000,None,2.870556
526,699,26,2019-06-24 16:13:56,2019-06-24 17:19:05.000000,None,1.085833
527,700,5,2019-06-24 17:19:09,2019-06-24 18:05:52.000000,None,0.778611
528,701,26,2019-06-24 18:05:55,2019-06-24 18:15:42.000000,None,0.163056
529,702,5,2019-06-24 18:42:40,2019-06-24 18:51:04.000000,None,0.140000
530,703,5,2019-06-25 10:19:20,2019-06-25 12:16:28.000000,None,1.952222
531,704,20,2019-06-25 12:28:27,2019-06-25 14:06:23.000000,None,1.632222
532,705,20,2019-06-25 17:00:00,2019-06-25 18:00:00.000000,None,1.000000
533,706,26,2019-06-26 14:16:21,2019-06-26 15:00:25.000000,None,0.734444
534,708,26,2019-06-27 12:40:51,2019-06-27 12:56:24.000000,None,0.259167
535,709,26,2019-06-27 13:00:44,2019-06-27 15:31:01.000000,None,2.504722
536,710,26,2019-06-27 17:48:35,2019-06-27 18:38:13.000000,None,0.827222
537,712,26,2019-06-28 10:48:00,2019-06-28 12:02:26.894253,None,1.240804

In [18]:
df2

,id,activity_id,end_time,description,duration
start_time,,,,,
2019-06-03 10:32:14,630,24,2019-06-03 15:04:58.000000,None,4.545556
2019-06-03 17:36:38,631,5,2019-06-03 17:48:18.000000,graphs,0.194444
2019-06-03 18:08:50,632,5,2019-06-03 19:13:46.000000,graphs,1.082222
2019-06-03 19:35:00,635,5,2019-06-03 20:50:00.000000,graphs,1.250000
2019-06-04 09:57:48,636,25,2019-06-04 10:00:16.000000,None,0.041111
2019-06-04 10:10:00,637,5,2019-06-04 10:28:35.000000,graphs,0.309722
2019-06-04 10:28:36,638,5,2019-06-04 10:46:45.000000,graphs,0.302500
2019-06-04 10:49:21,639,5,2019-06-04 16:02:19.000000,graphs,5.216111
2019-06-04 18:59:01,640,5,2019-06-04 19:53:25.000000,graphs,0.906667
2019-06-04 19:59:53,641,5,2019-06-04 20:49:34.000000,graphs,0.828056
2019-06-04 23:03:39,642,5,2019-06-04 23:13:58.000000,graphs,0.171944
2019-06-05 11:10:31,643,5,2019-06-05 12:31:34.000000,graphs,1.350833
2019-06-05 12:40:35,644,20,2019-06-05 13:25:07.000000,dashboard,0.742222
2019-06-05 14:13:42,645,20,2019-06-05 14:22:17.000000,dashboard,0.143056
2019-06-05 15:03:51,646,20,2019-06-05 15:48:01.000000,dashboard,0.736111
2019-06-05 17:08:34,647,20,2019-06-05 17:39:32.000000,dashboard,0.516111
2019-06-06 09:59:29,648,5,2019-06-06 10:41:24.000000,None,0.698611
2019-06-06 10:51:05,649,20,2019-06-06 11:00:58.000000,graphs,0.164722
2019-06-06 11:00:59,650,5,2019-06-06 11:22:34.000000,None,0.359722
2019-06-06 11:22:35,651,20,2019-06-06 11:58:09.000000,graphs,0.592778
2019-06-06 12:00:45,652,5,2019-06-06 12:25:59.000000,None,0.420556
2019-06-06 12:26:00,653,20,2019-06-06 12:37:46.000000,graphs,0.196111
2019-06-06 17:01:06,654,20,2019-06-06 17:32:34.000000,graphs,0.524444
2019-06-07 13:15:11,655,20,2019-06-07 13:31:26.000000,graphs,0.270833
2019-06-07 16:50:00,656,20,2019-06-07 17:55:21.000000,graphs,1.089167
2019-06-10 09:55:53,657,20,2019-06-10 10:54:03.000000,graphs,0.969444
2019-06-10 13:21:00,659,20,2019-06-10 15:10:00.000000,None,1.816667
2019-06-10 19:25:44,660,5,2019-06-10 20:40:27.000000,None,1.245278
2019-06-11 11:00:00,661,5,2019-06-11 17:00:00.000000,None,6.000000
2019-06-12 10:21:15,663,26,2019-06-12 11:34:50.000000,None,1.226389
...,...,...,...,...,...
2019-06-19 10:55:24,678,20,2019-06-19 13:31:44.000000,None,2.605556
2019-06-19 14:15:24,679,27,2019-06-19 14:27:07.000000,None,0.195278
2019-06-19 14:27:14,680,20,2019-06-19 15:34:10.000000,None,1.115556
2019-06-19 19:16:35,681,27,2019-06-19 19:23:55.000000,None,0.122222
2019-06-20 09:29:25,682,27,2019-06-20 09:38:13.000000,None,0.146667
2019-06-20 09:38:16,683,20,2019-06-20 12:18:49.000000,None,2.675833
2019-06-20 12:18:54,684,5,2019-06-20 12:29:32.000000,None,0.177222
2019-06-20 12:29:33,685,20,2019-06-20 14:24:37.000000,None,1.917778
2019-06-20 15:27:07,686,20,2019-06-20 17:49:36.000000,None,2.374722
2019-06-20 18:20:12,687,20,2019-06-20 19:02:17.000000,None,0.701389
2019-06-20 20:00:15,688,20,2019-06-20 20:49:11.000000,None,0.815556
2019-06-20 20:49:25,689,26,2019-06-20 21:39:29.000000,None,0.834444
2019-06-21 11:05:00,691,5,2019-06-21 11:20:00.000000,None,0.250000
2019-06-21 13:40:48,693,26,2019-06-21 14:57:38.000000,None,1.280556
2019-06-21 17:06:38,695,26,2019-06-21 17:46:28.000000,None,0.663889
2019-06-21 20:23:39,696,26,2019-06-21 20:44:46.000000,None,0.351944
2019-06-24 11:14:29,697,5,2019-06-24 11:18:38.000000,None,0.069167
2019-06-24 12:16:21,698,26,2019-06-24 15:08:35.000000,None,2.870556
2019-06-24 16:13:56,699,26,2019-06-24 17:19:05.000000,None,1.085833
2019-06-24 17:19:09,700,5,2019-06-24 18:05:52.000000,None,0.778611
2019-06-24 18:05:55,701,26,2019-06-24 18:15:42.000000,None,0.163056
2019-06-24 18:42:40,702,5,2019-06-24 18:51:04.000000,None,0.140000
2019-06-25 10:19:20,703,5,2019-06-25 12:16:28.000000,None,1.952222
2019-06-25 12:28:27,704,20,2019-06-25 14:06:23.000000,None,1.632222
2019-06-25 17:00:00,705,20,2019-06-25 18:00:00.000000,None,1.000000
2019-06-26 14:16:21,706,26,2019-06-26 15:00:25.000000,None,0.734444
2019-06-27 12:40:51,708,26,2019-06-27 12:56:24.000000,None,0.259167
2019-06-27 13:00:44,709,26,2019-06-27 15:31:01.000000,None,2.504722
2019-06-27 17:48:35,710,26,2019-06-27 18:38:13.000000,None,0.827222
2019-06-28 10:48:00,712,26,2019-06-28 12:02:26.894253,None,1.240804

In [25]:
facts.set_index('start_time').last("5M")

,id,activity_id,end_time,description,duration
start_time,,,,,
2019-02-01 12:34:40,451,5,2019-02-01 12:50:21.000000,None,0.261389
2019-02-04 11:03:56,452,11,2019-02-04 14:21:41.000000,None,3.295833
2019-02-04 18:02:48,454,5,2019-02-04 19:56:35.000000,fecha grafico,1.896389
2019-02-04 17:40:00,455,20,2019-02-04 18:00:00.000000,Nuevas tablas,0.333333
2019-02-05 11:06:59,456,5,2019-02-05 12:52:34.000000,dash,1.759722
2019-02-05 12:52:40,457,20,2019-02-05 12:59:24.000000,None,0.112222
2019-02-05 12:59:25,458,5,2019-02-05 13:50:14.000000,dash,0.846944
2019-02-05 15:30:00,459,5,2019-02-05 19:16:15.000000,dash nuevo comparador,3.770833
2019-02-07 13:00:00,461,20,2019-02-07 13:58:00.000000,sqlserver,0.966667
2019-02-07 20:27:00,463,16,2019-02-07 21:42:00.000000,None,1.250000
2019-02-08 10:19:14,464,16,2019-02-08 11:17:52.000000,None,0.977222
2019-02-08 11:18:02,465,5,2019-02-08 16:29:34.000000,monitor RTs,5.192222
2019-02-08 16:33:23,466,5,2019-02-08 17:25:52.000000,monitor RTs,0.874722
2019-02-08 17:26:00,468,20,2019-02-08 17:37:00.000000,sql server,0.183333
2019-02-11 10:55:57,469,5,2019-02-11 11:35:08.000000,None,0.653056
2019-02-11 11:35:16,470,16,2019-02-11 12:22:42.000000,None,0.790556
2019-02-11 12:22:48,471,20,2019-02-11 12:33:20.000000,None,0.175556
2019-02-11 12:35:39,472,5,2019-02-11 14:16:02.000000,monitor tweets,1.673056
2019-02-11 14:16:05,473,16,2019-02-11 16:16:35.000000,None,2.008333
2019-02-11 16:19:05,474,5,2019-02-11 16:37:02.000000,None,0.299167
2019-02-11 16:37:05,475,20,2019-02-11 18:21:46.000000,None,1.744722
2019-02-12 12:00:00,477,5,2019-02-12 13:18:53.000000,None,1.314722
2019-02-12 16:00:00,478,5,2019-02-12 17:03:38.000000,None,1.060556
2019-02-13 10:26:51,479,5,2019-02-13 10:35:43.000000,None,0.147778
2019-02-13 10:35:47,480,20,2019-02-13 12:06:17.000000,None,1.508333
2019-02-13 12:35:11,481,20,2019-02-13 13:08:10.000000,None,0.549722
2019-02-13 13:08:11,482,5,2019-02-13 17:16:39.000000,None,4.141111
2019-02-13 17:16:43,483,16,2019-02-13 17:28:15.000000,None,0.192222
2019-02-13 17:28:16,484,20,2019-02-13 18:53:41.000000,None,1.423611
2019-02-14 11:44:11,485,5,2019-02-14 12:31:18.000000,pivot,0.785278
...,...,...,...,...,...
2019-06-19 10:55:24,678,20,2019-06-19 13:31:44.000000,None,2.605556
2019-06-19 14:15:24,679,27,2019-06-19 14:27:07.000000,None,0.195278
2019-06-19 14:27:14,680,20,2019-06-19 15:34:10.000000,None,1.115556
2019-06-19 19:16:35,681,27,2019-06-19 19:23:55.000000,None,0.122222
2019-06-20 09:29:25,682,27,2019-06-20 09:38:13.000000,None,0.146667
2019-06-20 09:38:16,683,20,2019-06-20 12:18:49.000000,None,2.675833
2019-06-20 12:18:54,684,5,2019-06-20 12:29:32.000000,None,0.177222
2019-06-20 12:29:33,685,20,2019-06-20 14:24:37.000000,None,1.917778
2019-06-20 15:27:07,686,20,2019-06-20 17:49:36.000000,None,2.374722
2019-06-20 18:20:12,687,20,2019-06-20 19:02:17.000000,None,0.701389
2019-06-20 20:00:15,688,20,2019-06-20 20:49:11.000000,None,0.815556
2019-06-20 20:49:25,689,26,2019-06-20 21:39:29.000000,None,0.834444
2019-06-21 11:05:00,691,5,2019-06-21 11:20:00.000000,None,0.250000
2019-06-21 13:40:48,693,26,2019-06-21 14:57:38.000000,None,1.280556
2019-06-21 17:06:38,695,26,2019-06-21 17:46:28.000000,None,0.663889
2019-06-21 20:23:39,696,26,2019-06-21 20:44:46.000000,None,0.351944
2019-06-24 11:14:29,697,5,2019-06-24 11:18:38.000000,None,0.069167
2019-06-24 12:16:21,698,26,2019-06-24 15:08:35.000000,None,2.870556
2019-06-24 16:13:56,699,26,2019-06-24 17:19:05.000000,None,1.085833
2019-06-24 17:19:09,700,5,2019-06-24 18:05:52.000000,None,0.778611
2019-06-24 18:05:55,701,26,2019-06-24 18:15:42.000000,None,0.163056
2019-06-24 18:42:40,702,5,2019-06-24 18:51:04.000000,None,0.140000
2019-06-25 10:19:20,703,5,2019-06-25 12:16:28.000000,None,1.952222
2019-06-25 12:28:27,704,20,2019-06-25 14:06:23.000000,None,1.632222
2019-06-25 17:00:00,705,20,2019-06-25 18:00:00.000000,None,1.000000
2019-06-26 14:16:21,706,26,2019-06-26 15:00:25.000000,None,0.734444
2019-06-27 12:40:51,708,26,2019-06-27 12:56:24.000000,None,0.259167
2019-06-27 13:00:44,709,26,2019-06-27 15:31:01.000000,None,2.504722
2019-06-27 17:48:35,710,26,2019-06-27 18:38:13.000000,None,0.827222
2019-06-28 10:48:00,712,26,2019-06-28 12:02:26.894253,None,1.240804

In [64]:
hoy = df.set_index("start_time").sort_index().last("1D")
hoy_horas = hoy.loc[hoy.category_id.isin(base.keys()), :].duration.sum()

4.429266771388889